body.common-home {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
}
#top {
	background-color: #4cb1ca;
	text-shadow: none;
}
#top span, #top-links a, #top .btn-link  {
	color: #bef2ff;
	text-shadow: none;
	font-size: 13px;
font-weight: 400;
}

/* #top span:last-child{
	color: #d4ff88;
	} */

.list-inline li {
font-family: "Myriad Pro";
}

.list-inline li::after{
	content: '';
	margin-left: 10px;
	margin-bottom: -2px;
	margin-right: 1px;
	display: inline-block;
	background-color: #fff;
	width: 1px;
	height: 11px;
} 

/* */
#top ul .btn-link {
	color: #000000;
}
/* ul .dropdown-menu, .dropdown-menu {
	background-color: #4cb1ca;
} */

.modal-list {
	list-style: none;
	padding: 0;
}

#logo a {
	color: #656565;
font-family: "Open Sans";
font-size: 36px;
font-weight: 700;
text-transform: uppercase;

letter-spacing: -0.9px;
}


.navbar-nav>li>a {
	color: #656565;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	
	letter-spacing: -0.14px;	
}

header {
	height: 107px;
	padding-top: 23px;
}

#search {
	margin: 0;
	/* padding: 0; */
	width: 172px;
	height: 29px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
		
}

#search .input-lg {
	height: 29px;	
	border: none;
}

#search .btn-lg {
	height: 29px;	
	width: 30px;
	padding: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	border: none;

	/*  */
	text-shadow: none;	
	background-image: none; 
	background-color: #fff;
	-webkit-box-shadow: none;
	        box-shadow: none;
	border-radius: none;
	/*  */
background: transparent	url()	0 0 no-repeat;

}

a#wishlist-total, a.wishlist-link, #cart button.btn-lg {

	display: block;
	width: 35px;
	height: 35px;
	background: #7db122 url()	0 0 no-repeat;;
	border-radius: 50%;
	border: none;
	color: #fff;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-line-pack: center;
	    -webkit-box-align: center;
	        -ms-flex-align: center;
	            align-items: center;
}


#wishlist-total i{

	/* width: 35px; */
	/* height: 35px; */
/* padding-top: 11px; */
/* padding-left: 10px; */
	/* background-color: #7db122; */
	/* color: #fff; */
	/* border-radius: 50%;	 */
/* vertical-align: middle;				 */
}

#cart {
	width: 35px;
	margin: 0;
	
}

/* #cart i {
	width: 35px;
	height: 35px;
	padding-top: 11px;
	padding-left: 0px;

		background-color: #7db122;
		color: #fff;
	border-radius: 50%;	
} */

/* #cart .btn-lg {
	background: none;
	border: none;
	padding: 0;
	}
	 */

	 .header-cart-wrap {
		 display: -webkit-box;
		 display: -ms-flexbox;
		 display: flex;
		 -webkit-box-pack: justify;
		     -ms-flex-pack: justify;
		         justify-content: space-between;
		 -webkit-box-align: center;
		     -ms-flex-align: center;
		         align-items: center;
		 padding-top: 7px;
		 color: #000000;
	 }

	 /******************************************************/

	 .owl-wrapper-outer {
		 border: none;
		 -webkit-box-shadow: none;
		         box-shadow: none;
	 }


.owl-controls .owl-buttons .owl-prev,.owl-controls .owl-buttons .owl-next {
		
	width: 67px;
	height: 67px;
	background-color: #ffffff;
	color: #cdcdcd;
	font-family: "Font Awesome";
	font-size: 55px;
	font-weight: 400; 
	border-radius: 50%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;		
					
}

.owl-controls .owl-buttons .owl-prev{
	left: 127px;
}
.owl-controls .owl-buttons .owl-next {
	right: 127px;
}


.owl-carousel .owl-buttons div i {
	margin: 0;
}

#cart .btn-lg {
	background: none;
	border: none;
	}
	

/* ************************************************************************ */

	.flag-sale_wrap {
		width: 100%;
		height: 188px;
		position: absolute;
		top: -5px;
		left: 11px;
		overflow: hidden;
	}

	.flag-sale_wrap:before, .flag-sale_wrap:after {
		content: ""; 
		position: absolute;
	}
	.flag-sale_wrap:before {
		width: 40px;
		height: 5px;
		left: 59px;
		background: #628f13;
		border-radius: 8px 8px 0px 0px;
	}
	.flag-sale_wrap:after {
		width: 5px;
		height: 40px;
		left: 0px;
		top: 59px;
		background: #628f13;
		border-radius: 0px 0px 8px 8px;
	} 

	.flag-sale {
		width: 140px;
		height: 40px;
		line-height: 40px;
		position: absolute;
		top: 15px;
		left: -36px;
		z-index: 2;
		overflow: hidden;
		-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		border: 1px #628f13 solid;
		/* -webkit-box-shadow:0 0 0 1px #628f13,  0px 21px 5px -18px rgba(0,0,0,0.6); */
		        /* box-shadow:0 0 0 1px #628f13,  0px 21px 5px -18px rgba(0,0,0,0.6); */
		background: #7db122;
		text-align: center;
		font-size: 11px;
		color: #fff;
		}
	
/************************************** flag-new ********************************/

/* ************************************************************************ */

.flag-new_wrap {
	width: 100%;
	height: 188px;
	position: absolute;
	top: -5px;
	right: 11px;
	overflow: hidden;
}

.flag-new_wrap:before, .flag-new_wrap:after {
	content: ""; 
	position: absolute;
}
.flag-new_wrap:before {
	width: 40px;
	height: 5px;
	right: 59px;
	background: #2b9eba;
	border-radius: 8px 8px 0px 0px;
}
.flag-new_wrap:after {
	width: 5px;
	height: 40px;
	right: 0px;
	top: 59px;
	background: #2b9eba;
	border-radius: 0px 0px 8px 8px;
} 

.flag-new {
	width: 140px;
	height: 40px;
	line-height: 40px;
	position: absolute;
	top: 15px;
	right: -36px;
	z-index: 2;
	overflow: hidden;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
			transform: rotate(45deg);
	border: 1px #2b9eba solid;
	/* -webkit-box-shadow:0 0 0 1px #628f13,  0px 21px 5px -18px rgba(0,0,0,0.6); */
					/* box-shadow:0 0 0 1px #628f13,  0px 21px 5px -18px rgba(0,0,0,0.6); */
	background: #4cb1ca;
	text-align: center;
	font-size: 11px;
	color: #fff;
	}

/* ************************************************************************ */
/* ************************************************************************ */
/* ************************************************************************ */
.product-thumb .image {
	padding: 7px 0;
}

.product-thumb {
	-webkit-box-shadow: 0 0 5px #eaeaea;
	        box-shadow: 0 0 5px #eaeaea;
	border: 8px #fff solid;
	background-color: #fff;
}

.product-thumb .caption {
min-height: 0;
}

.product-info-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	-webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.product-info-wrap button {
	width: 47px;
	height: 47px;
	background-color: #7db122;
	border-radius: 50%;
	color: #fff;
	border: none;
	margin-right: 7px;
}

.product-info-wrap a{
	color: #464148;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
}

.product-thumb .price-new, .product-thumb .price  {
	color: #7db122;
	font-size: 18px;
	font-weight: 400;
}

.product-thumb .price-old{
	color: #464148;
	font-size: 14px;
	font-weight: 400;
	line-height: 22;
	text-decoration: line-through;
	margin-left: 0;
	
}

