body.common-home {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 400;
}
#top {
	background-color: #4cb1ca;
	text-shadow: none;
}
#top span, #top-links a, #top .btn-link  {
	color: #bef2ff;
	text-shadow: none;
	font-size: 13px;
font-weight: 400;
}

/* #top span:last-child{
	color: #d4ff88;
	} */

.list-inline li {
font-family: "Myriad Pro";
}

.list-inline li::after{
	content: '';
	margin-left: 10px;
	margin-bottom: -2px;
	margin-right: 1px;
	display: inline-block;
	background-color: #fff;
	width: 1px;
	height: 11px;
} 

/* */
#top ul .btn-link {
	color: #000000;
}
/* ul .dropdown-menu, .dropdown-menu {
	background-color: #4cb1ca;
} */

.modal-list {
	list-style: none;
	padding: 0;
}

#logo a {
	color: #656565;
font-family: "Open Sans";
font-size: 36px;
font-weight: 700;
text-transform: uppercase;
/* Text style for "L, EO Shop" */
letter-spacing: -0.9px;
}


.navbar-nav li a {
	color: #656565;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	/* Text style for "Home" */
	letter-spacing: -0.14px;	
}

#search {
	margin: 0;
	padding: 0;
	width: 174px;
	height: 29px;
	border: 1px solid #c6c6c6;
	background-color: #ffffff;
		
}
#search .btn-lg {
	padding: 0;
	margin: 0;
	

	
}

.input-group-btn button .btn-lg{
	background-color: #ffffff;
	height: 29px;	
}
